#root {
  margin: 0;
}


.headline{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}


#navbar{
  position: relative;
  float: right;
  right: 7%;
  font-size: 22px;
  padding: 46px 30px;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

#navbar a:hover{
  color: rgb(68, 133, 187);
}

.navElements{
  padding-left: 40px;
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.2);
}
.active{
  color: rgb(68, 133, 187);
}
#navbtn{
  position: absolute;
  display: none;
  flex-direction: column;
  width: 45px;
  height: 45px;
  top: 10px;
  right: 6px;
  z-index: 6;
  cursor: pointer;
  opacity: 0.8;
}
#nbline1{
  position: relative;
  height: 5px;
  width: 35px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: grey;
  z-index: 6;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  transition-duration: 500ms;
}
#nbline2{
  position: relative;
  height: 5px;
  margin-top: 10px;
  width: 20px;
  margin-left: 20px;
  border-radius: 3px;
  background-color: grey;
  z-index: 6;
  transition-duration: 500ms;
}
#nbline3{
  position: relative;
  height: 5px;
  width: 35px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: grey;
  z-index: 6;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  transition-duration: 500ms;
}

.headbg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.logoimg{
  position: absolute;
  top: 15px;
  left: 8%;
  height: 75px;
}

.maindiv{
  z-index: 1;
}

.LPBD{
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 0;
  position: absolute;
  bottom: 0;
  opacity: 30%;
}

#cover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: white;
  animation: fade1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#marker{
  z-index: 6;
  position: absolute;
  top: 45vh;
  left: 48vw;
  height: 75px;
  animation: load1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logotext{
  position: absolute;
  height: 68px;
  top: 19px;
  left: calc(8vw + 48px);
}

@keyframes load1{
  0%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  30%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100%{
    -webkit-transform: translate(-35vw, calc(15px - 45vh));
    transform: translate(-35vw, calc(15px - 45vh));
  }
}

@keyframes fade1{
  80%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
    display: none;
  }
}

.MainDisplay{
  margin-top: 40vh;
  margin-left: 10vw;
  font-size: 30px;
  font-weight: 600;
  z-index: 4;
}
.navHeightVert{
  height: 330px;
}

@media screen and (max-width: 1000px) {
  .headline{
    height: 70px;
  }
  #navbar{
    right: 5%;
    font-size: 18px;
    padding: 30px 20px;   
  }
  .navElements{
    padding-left: 25px;
  }
  .logoimg{
    height: 55px;
    top: 10px;
  }
  #marker{
    height: 55px;
  }
  #logotext{
    top: 12px;
    height: 51px;    
    left: calc(8vw + 33px);
  }
}

@media screen and (max-width: 830px) {
  #navbar{
    flex-direction: column;
    padding: 0;
    right: 0%;
    top: 70px;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.11);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 0px;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  .navElements{
    padding: 20px 5px;
    width: calc(100% - 10px);
    text-align: center;
  }
  #navbtn{
    display: flex;
  }
}