@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: -webkit-fill-available;
  background-color: rgb(228, 220, 220);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(68, 133, 187);
  }
  button {
    background-color: #f9f9f9;
  }
}

.MainDisplay{
  position: relative;
  margin-top: 90px;
  height: calc(100vh - 100px);
  padding-top: 10px;
  margin-left: 0;
  width: 100vw;
  backdrop-filter: hue-rotate(15deg) blur(4px);
  font-weight: 600;
  background-color: rgba(100,180,180,0.1);
  z-index: 3;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}

.bigCont{
  position: relative;
  padding: 20px 70px;
  width: 55vw;
  color: rgb(70, 70, 70);
  font-weight: 200;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 37px;
}

.gradient-text1{
  background:  linear-gradient(165deg, rgb(8, 131, 125) 0%, rgb(56, 53, 53) 50%, rgb(19, 179, 131) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-weight: 600;
}

.ellcon{
  margin-right: 30px;
}

.bigImg{
  position: relative;
  padding: 20px;
  width: 40vw;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideimg{
  position: relative;
  width: 38vw;
  height: 38vw;
  border-radius: 7px;
  background-image: url('./assets/homepage1.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1180px) {
  .MainDisplay{
    margin-top: 60px;
    height: calc(100vh - 70px);
  }
}