@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: -webkit-fill-available;
  background-color: rgb(228, 220, 220);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(68, 133, 187);
  }
  button {
    background-color: #f9f9f9;
  }
}

#cover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: white;
  animation: fade1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#marker{
  z-index: 6;
  position: absolute;
  top: 45vh;
  left: 48vw;
  height: 75px;
  animation: load1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logotext{
  position: absolute;
  height: 68px;
  top: 19px;
  left: calc(8vw + 48px);
}

@keyframes load1{
  0%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  30%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100%{
    -webkit-transform: translate(-38vw, calc(15px - 45vh));
    transform: translate(-38vw, calc(15px - 45vh));
  }
}

@keyframes fade1{
  80%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
    display: none;
  }
}


